{% extends 'main/base.html' %}
{% block content %}
<div class="agendamento-pet">
    <label>
        <a type="titulo">Escolha o melhor horário para você</a>
        <p>
            <label for="seusagendamentos">Seus Agendamentos</label>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Tosa</th>
                    <th>Possui pulgas?</th>
                    <th>Observação</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.pet }}</td>
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.horario }}</td>
                        <td>{{ agendamento.tosa }}</td>
                        <td>{% if agendamento.pulgas %}
                            Sim
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>{% if agendamento.observacao == ''%}
                            -
                            {% else %}
                            {{ agendamento.observacao }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'agendamento.editar' agendamento.pk %}"><i>Editar</i></a>
                            <a href="{% url 'agendamento.deletar' agendamento.pk %}"><i>Deletar</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>
            {% comment %} <label>Selecione seu doguinho :)<label>
                
                <select name="pet">
                    {% for pet in pets %}
                    <option value="{{ pet.nome }}">{{ pet.nome }}</option>
                    {% endfor %}
                </select>
            </label> {% endcomment %}
        </p>

        <div>
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                
                <input type="submit" value="Salvar"></input>
            </form>
        </div>
</div>
{% endblock content %}