{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFriendly</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">Pet Friendly</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Início</a></li>
                <li><a href="/">Produtos</a></li>
                <li><a href="/">Planos e Assinaturas</a></li>
                <li><a href="{% url 'sobrenos' %}">Sobre Nós</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'usuario.home' %}">Meu Perfil</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'registrar' %}">Cadastrar-se</a></li>
                    <li><a href="{% url 'usuario.home' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        
        {% endblock content %}
        <!-- <div class="main-content">
            <div class="slides">
                <input type="radio" name="slide" id="slide1" checked>
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">

                <div class="slide s1">
                    <img src="../../static/css/media/slide1.jpg" alt="plaquinha de loja aberta para o publico">
                </div>
                <div class="slide">
                    <img src="../../static/css/media/slide2.jpg" alt="produtos a venda de pets">
                </div>
                <div class="slide">
                    <img src="../../static/css/media/slide3.jpg" alt="cachorrinho pegando sacola">
                </div>
                <div class="slide">
                    <img src="../../static/css/media/slide4.jpg" alt="cachorrinho na loja petshop">
                </div>
                <div class="slide">
                    <img src="../../static/css/media/slide5.jpg" alt="mural com cachorros lindos">
                </div>
            </div>
            <div>
                <div class="navigation">
                    <label class="bar" for="slide1"></label>
                    <label class="bar" for="slide2"></label>
                    <label class="bar" for="slide3"></label>
                    <label class="bar" for="slide4"></label>
                    <label class="bar" for="slide5"></label>
                </div>
            </div>
        </div> -->
    </main>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>