{% extends 'main/base.html' %}
{% block content %}
<div class="lista-pet">
    <label>
        <a href="{% url 'usuario.cadastrarpet' %}">Cadastrar Pet</a>
        <form method="GET">
            <input type="text" name="filtronome" placeholder="Buscar por nome"/>
            <input type="submit" value="Buscar"/>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Porte</th>
                    <th>Idade</th>
                    <th>Ativa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for pet in object_list %}
                    <tr>
                        <td>{{ pet.nome_completo }}</td>
                        <td>{{ pet.raça }}</td>
                        <td>{{ pet.porte }}</td>
                        <td>{{ pet.idade }} Anos</td>
                        <td>{% if pet.ativa %}
                            Sim
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'usuario.editarpet' pet.pk %}"><i>Editar</i></a>
                        </td>
                        <td>
                            <a href="{% url 'usuario.deletarpet' pet.pk %}"><i>Deletar</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </label>
</div>
{% endblock content %}