{% extends 'main/base.html' %}
{% block content %}
<div class="lista-pet">
    <label>
        <a href="{% url 'usuario.cadastrarusuario' %}">Cadastrar Novo</a>
        <form method="GET">
            <input type="text" name="filtronome" placeholder="Buscar por nome"/>
            <input type="submit" value="Buscar"/>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Celular</th>
                    <th>Idade</th>
                    <th>Ativa</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in object_list %}
                    <tr>
                        <td>{{ usuario.nome_completo }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.celular }}</td>
                        <td>{{ usuario.idade }} Anos</td>
                        <td>{% if usuario.ativa %}
                            Sim
                            {% else %}
                            Não
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'usuario.editarusuario' usuario.pk %}"><i>Editar</i></a>
                            <a href="{% url 'usuario.deletarusuario' usuario.pk %}"><i>Deletar</i></a>
                            <a href="{% url 'usuario.meuspets' usuario.pk %}"><i>Contatos</i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </label>
</div>
{% endblock content %}