{% extends 'main/base.html' %}
{% block content %}
<div class="plans-all">
	<section type="plans-section">
		<div type="plan">
			<h2>Plano Basic</h2>
			<p type="price">R$79.99 / mês</p>
			<ul type="description1">
				<li>2 Banhos (qualquer porte)</li>
				<li>1 Tosa (Completa ou Higiênica)</li>
				<li>10% de desconto no terceiro banho</li>
			</ul>
			<a href="#" type="button">Assinar</a>
		</div>

		<div type="plan">
			<h2>Plano Standard</h2>
			<p type="price">R$119.99 / mês</p>
			<ul type="description2">
				<li>3 Banhos (qualquer porte)</li>
				<li>2 Tosas (Completa ou Higiênica)</li>
				<li>10% OFF em todos os produtos</li>
				<li>Frete Grátis em compras acima de R$40</li>
				<li></li>
				<li></li>
			</ul>
			<a href="#" type="button">Assinar</a>
		</div>

		<div type="plan">
			<h2>Plano Premium</h2>
			<p type="price">R$159.99 / mês</p>
			<ul type="description3">
				<li>4 Banhos (qualquer porte)</li>
				<li>1 Brinquedo brinde todo mês</li>
				<li>3 Tosas (Completa ou Higiênica)</li>
				<li>15% OFF em todos os produtos</li>
				<li>Frete Grátis em qualquer compra na loja</li>
			</ul>
			<a href="#" type="button">Assinar</a>
		</div>
	</section>
</div>
{% endblock content %}