{% extends 'main/base.html' %}
{% block content %}
<div class="plans-all">
	<section type="plans-section">
		<div type="plan">
			<h2>Plano Basic</h2>
			<p type="price">R$79.99 / mês</p>
			<ul type="description1">
				<li>2 Banhos (qualquer porte)</li>
				<li>1 Tosa (Completa ou Higiênica)</li>
				<li>10% de desconto no terceiro banho</li>
			</ul>
			<button href="#" type="button1">Assinar</button>
		</div>

		<div type="plan">
			<h2>Plano Standard</h2>
			<p type="price">R$119.99 / mês</p>
			<ul type="description2">
				<li>3 Banhos (qualquer porte)</li>
				<li>2 Tosas (Completa ou Higiênica)</li>
				<li>10% OFF em todos os produtos</li>
				<li>Frete Grátis em compras acima de R$40</li>
				<li></li>
				<li></li>
			</ul>
			<button href="#" type="button2">Assinar</button>
		</div>

		<div type="plan">
			<h2>Plano Premium</h2>
			<p type="price">R$159.99 / mês</p>
			<ul type="description3">
				<li>4 Banhos (qualquer porte)</li>
				<li>1 Brinquedo brinde todo mês</li>
				<li>3 Tosas (Completa ou Higiênica)</li>
				<li>15% OFF em todos os produtos</li>
				<li>Frete Grátis em qualquer compra na loja</li>
			</ul>
			<button href="#" type="button3">Assinar</button>
		</div>
	</section>
</div>

<script>
	var button1 = document.querySelector("button[type=button1]");
	// Abrir o modal ao clicar no botão
	button1.addEventListener('click', function () {
		// inicia a instância do checkout
		var checkout = new PagarMeCheckout.Checkout({
			encryption_key: 'SUA ENCRYPTION KEY',
			success: function (data) {
				console.log(data);
				console.log(data.customer);
				console.log('dadosPag',dadosPag);
				return data;
			},
			error: function (err) {
				console.log(err);
			},
			close: function () {
				console.log('The modal has been closed.');
			}
		});

		checkout.open({
			amount: 7999,
			customerData: 'true',
			reviewInformations: 'true',
			postbackUrl: 'http://localhost:8000/planos/',
			days: 30,
			charges: null,
			name: 'Plano Basic',
			createToken: 'false',  // False pra ambiente dev
			items: [{
				id: '3',
				title: 'Plano Basic',
				quantity: 1,
				tangible: 'false'
			}]
		})
	});

	var button2 = document.querySelector("button[type=button2]");
	// Abrir o modal ao clicar no botão
	button2.addEventListener('click', function () {
		// inicia a instância do checkout
		var checkout = new PagarMeCheckout.Checkout({
			encryption_key: 'SUA ENCRYPTION KEY',
			success: function (data) {
				console.log(data);
				console.log(data.customer);
				console.log('dadosPag',dadosPag);
			},
			error: function (err) {
				console.log(err);
			},
			close: function () {
				console.log('The modal has been closed.');
			}
		});

		checkout.open({
			amount: 11999,
			customerData: 'true',
			reviewInformations: 'true',
			postbackUrl: 'http://localhost:8000/planos/',
			days: 30,
			charges: null,
			name: 'Plano Standard',
			createToken: 'false',  // False pra ambiente dev
			items: [{
				id: '3',
				title: 'Plano Standard',
				quantity: 1,
				tangible: 'false'
			}]
		});
	});


	var button3 = document.querySelector("button[type=button3]");
	// Abrir o modal ao clicar no botão
	button3.addEventListener('click', function () {
		// inicia a instância do checkout
		var checkout = new PagarMeCheckout.Checkout({
			encryption_key: 'SUA ENCRYPTION KEY',
			success: function (data) {
				console.log(data);
				console.log(data.customer);
				console.log('dadosPag',dadosPag);
			},
			error: function (err) {
				console.log(err);
			},
			close: function () {
				console.log('The modal has been closed.');
			}
		});

		checkout.open({
			amount: 15999,
			customerData: 'true',
			reviewInformations: 'true',
			postbackUrl: 'http://localhost:8000/planos/',
			days: 30,
			charges: null,
			name: 'Plano Premium',
			createToken: 'false',  // False pra ambiente dev
			items: [{
				id: '3',
				title: 'Plano Premium',
				quantity: 1,
				tangible: 'false'
			}]
		})
	});
</script>
{% endblock content %}