{% extends 'main/base.html' %}
{% block content %}
<div class="login">
    <div type="logintudo">
        <form method="POST">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}

            <label type="title" for="id_username">Email:</label>
            <p>
                <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
            </p>
            <label type="title" for="id_password">Password:</label>
            <p>
                <input type="password" name="password" autocomplete="current-password" required id="id_password">
            </p>

            <input type="submit" value="Entrar">
        </form>
        <p>
            <label type="title" for="id_username">Não possui conta?</label>
            <a type="titlecadastrar" href="{% url 'registrar' %}">Cadastre-se
        </p>
    </div>
</div>
{% endblock content %}